#register
  %h2 Register

  = form_for @user do |form|
    %fieldset
      = form.label :username
      = form.text_field :username
    %fieldset
      = form.label :password
      = form.password_field :password
    %fieldset
      = form.label :password_confirmation, 'Confirm'
      = form.password_field :password_confirmation
    %fieldset
      = form.submit "Register"
