= link_to "Submit a Link", new_link_path, :class => 'submit-link'

%h2= "Recently submitted"

.links
  %ol
    - @links.each do |link|
      %li{:id => "link-#{link.id}"}
        %span.link= link_to link.title, link.url
        %span.timestamp= "submitted by #{link.author_name} #{link.created_at.pretty_ago}"