= link_to "Submit a Link", new_link_path, :class => 'submit-link'

%h2= "Recently submitted"

.links
  %ol
    - @links.each do |link|
      - vote = @votes[link.id]
      %li{:id => "link-#{link.id}"}
        %span.vote
          - if logged_in? && current_user != link.author
            - if vote
              - if vote.value == 1
                %span.up= 'up'
              - else
                %span.up= link_to 'up', link_vote_path(:link_id => link.id, :id => vote.id, :vote => { :value => 1 }), :method => :put
              - if vote.value == -1
                %span.down= 'down'
              - else
                %span.down= link_to 'down', link_vote_path(:link_id => link.id, :id => vote.id, :vote => { :value => -1 }), :method => :put
            - else
              %span.up= link_to 'up', link_votes_path(:link_id => link.id, :vote => { :value => 1 }), :method => :post
              %span.down= link_to 'down', link_votes_path(:link_id => link.id, :vote => { :value => -1 }), :method => :post
        %span.value= link.value
        %span.link= link_to link.title, link.url
        %span.timestamp= "submitted by #{link.author_name} #{link.created_at.pretty_ago}"