= link_to "Submit a Link", new_link_path, :class => 'submit-link'

%h2 Recently submitted

.links
  %ol
    - @links.each do |link|
      %li{ :id => dom_id(link) }
        %span.vote
          - if logged_in? && current_user.eligible_to_vote?(link)
            = link_to 'up', link_votes_path(link, :vote => { :value => +1 }), :method => :post
            = link_to 'down', link_votes_path(link, :vote => { :value => -1 }), :method => :post
          - else
            up
            down
        %span.value #{link.value}
        %span.link= link_to link.title, link.url
        %span.timestamp submitted by #{link.user.username} #{time_ago_in_words link.created_at} ago
