= link_to "Submit a Link", new_link_path, :class => 'submit-link'

%h2= "Recently submitted"

.links
  %ol
    - @links.each do |link|
      %li
        %span.vote
          - if logged_in? 
            - if current_user.eligible_to_vote?(+1, :on => link)
              %span.up= link_to 'up', link_votes_path(link, :vote => { :value => +1 }), :method => :post
            - else
              %span.up= 'up'
            - if current_user.eligible_to_vote?(-1, :on => link)
              %span.down= link_to 'down', link_votes_path(link, :vote => { :value => -1 }), :method => :post
            - else
              %span.down= 'down'
          - else
            %span.up= 'up'
            %span.down= 'down'
        %span.value= link.value
        %span.link= link_to link.title, link.url
        %span.timestamp= "submitted by #{link.author.username} #{time_ago_in_words link.created_at} ago"
