= link_to "Submit a Link", new_link_path, :class => 'submit-link'

%h2= "Recently submitted"

.links
  %ol
    - @links.each do |link|
      %li{:id => "link-#{link.id}"}
        %span.vote
          - if logged_in? 
            - if current_user != link.author
              %span.up= link_to 'up', link_votes_path(:link_id => link.id, :vote => { :value => 1 }), :method => :post
              %span.down= link_to 'down', link_vote_path(:link_id => link.id, :id => vote.id, :vote => { :value => -1 }), :method => :post
            - else
              %span.down= 'down'
              %span.up= 'up'
          - else
            %span.down= 'down'
            %span.up= 'up'
        %span.value= link.value
        %span.link= link_to link.title, link.url
        %span.timestamp= "submitted by #{link.author_name} #{link.created_at.pretty_ago}"
