#login
  %h2 Login

  = form_for @user_session, :as => :user_session, :url => user_session_path do |f|
    = f.label :username
    = f.text_field :username

    = f.label :password
    = f.password_field :password

    = f.submit "Login"